<!DOCTYPE html>
<html lang="en" style="height: auto;">
<head>
    <meta charset="UTF-8"/>
    <title>Коктейли</title>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/2.3.6/css/dataTables.dataTables.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/admin-lte@3.2/dist/css/adminlte.min.css">
    <style>
        .modal-window {
            z-index: 5000;
            position: fixed;
            width: 1000px;
            height: 1000px;
            inset: 0;
            margin: auto;

            background: white;
            border: 5px solid #FF7043;
            display: none;
        }

        .modal-inner {
            padding: 25px 25px 0;
        }

        .modal-cocktail-name {
            width: 100%
        }

        .modal-cocktail-description {
            width: 100%
        }

        .ingredient-row {
            display: flex;
        }
    </style>
</head>
<body class="sidebar-mini" style="height: auto;">
<div class="wrapper">
    <!-- Main Sidebar Container -->
    <aside class="main-sidebar sidebar-dark-primary elevation-4">
        <!-- Sidebar -->
        <div class="sidebar">
            <!-- Sidebar Menu -->
            <nav class="mt-2">
                <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu">
                    <!-- Add icons to the links using the .nav-icon class
                         with font-awesome or any other icon font library -->
                    <li class="nav-item menu-open">
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a href="#" class="nav-link active" onclick="changePage(this, 'cocktail-list')">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Коктейли</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link" onclick="changePage(this, 'ingredient-list')">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Ингредиенты</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link" onclick="changePage(this, 'cocktail-variation-list')">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Вариации коктейлей</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
            <!-- /.sidebar-menu -->
        </div>
        <!-- /.sidebar -->
    </aside>
    <!-- Cocktails Page -->
    <div class="content-wrapper" id="cocktail-list">
        <div>
            <div>
                <h1>Коктейли</h1>
                <div>
                    <button onclick="cocktailEditShow(0)">Добавить</button>
                </div>
            </div>
        </div>
        <table id="cocktails-table" class="display">
            <thead>
            <tr>
                <th>ID</th>
                <th>Название</th>
                <th>Описание</th>
                <th>Состав</th>
                <th>Действия</th>
            </tr>
            </thead>
            <tbody>
            {% for cocktail in cocktails %}
                <tr>
                    <td>{{ cocktail.id }}</td>
                    <td>{{ cocktail.name }}</td>
                    <td>{{ cocktail.description }}</td>
                    <td>Здесь будет будущий состав коктейля</td>
                    <td>
                        <button onclick="cocktailEditShow({{ cocktail.id }})">Edit</button>
                        <button onclick="deleteCocktail({{ cocktail.id }})">Delete</button>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <!-- Ingredients Page -->
    <div class="content-wrapper" id="ingredient-list" style="display: none">
        <div>
            <div>
                <h1>Ингредиенты</h1>
                <div>
                    <button onclick="ingredientEditShow(0)">Добавить</button>
                </div>
            </div>
        </div>
        <table id="ingredients-table" class="display">
            <thead>
            <tr>
                <th>ID</th>
                <th>Название</th>
                <th>Описание</th>
                <th>Действия</th>
            </tr>
            </thead>
            <tbody>
            {% for ingredient in ingredients %}
                <tr>
                    <td>{{ ingredient.id }}</td>
                    <td>{{ ingredient.name }}</td>
                    <td>{{ ingredient.description }}</td>
                    <td>
                        <button onclick="editCockail({{ ingredient.id }})">Edit</button>
                        <button onclick="deleteCocktail({{ ingredient.id }})">Delete</button>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <!-- Cocktail Variation Page -->
    <div class="content-wrapper" id="cocktail-variation-list" style="display: none">
        <div>
            <div>
                <h1>Вариации коктейлей</h1>
                <div>
                    <button onclick="cocktailVariationEdit()">Добавить</button>
                </div>
            </div>
        </div>

    </div>
    <!-- Main Footer -->
    <footer class="main-footer">
        <!-- To the right -->
        <div class="float-right d-none d-sm-inline">
            Anything you want
        </div>
        <!-- Default to the left -->
        <strong>Copyright © 2014-2021 <a href="https://adminlte.io">AdminLTE.io</a>.</strong> All rights reserved.
    </footer>
</div>

<!-- Modal Window -->
<div class="modal-window cocktail-edit">
    <div class="modal-inner">
        <div class="field-group">
            <div>
                <label for="cocktail-name">Название</label>
                <input id="cocktail-name" class="modal-cocktail-name" type="text">
            </div>
            <div>
                <label for="cocktail-desc">Описание</label>
                <textarea id="cocktail-desc" class="modal-cocktail-description"></textarea>
            </div>
        </div>
        <div class="modal-actions">
            <button type="button" onclick="cocktailEditHide()">Отмена</button>
            <button type="button" class="btn-confirm" onclick="addCocktail()">Добавить коктейль</button>
        </div>
    </div>
</div>

<!-- Modal Window -->
<div class="modal-window cocktail-variation-edit">
    <div class="modal-container">
        <div class="variation-field-group">
            <div>
                <label>Коктейль</label>
                <div>
                    <select>
                        {% for cocktail in cocktails %}
                            <option class="variation-cocktail-item" id="{{ cocktail.id }}">{{ cocktail.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div>
                <label>Ингредиенты</label>
                <div class="variation-ingredient-list">
                    <div class="variation-ingredient">
                        <select>
                            {% for ingredient in ingredients %}
                                <option class="variation-ingredient-item" id="{{ ingredient.id }}">{{ ingredient.name }}</option>
                            {% endfor %}
                        </select>
                        <input class="variation-ingredient-amount" type="number">
                        <select class="variation-ingredient-measure">
                            <option>мл</option>
                            <option>л</option>
                            <option>г</option>
                            <option>шт</option>
                        </select>
                        <button class="delete-ingredient-field" onclick="deleteIngredientField(this)">X</button>
                    </div>
                </div>
                <div><button class="add-ingredient-field" onclick="addIngredientField()">+</button></div>
            </div>
            <div>
                <label>Способ приготовления</label>
                <div>
                    <ol class="variation-method-list">
                        <li class="variation-method-item"><input class="variation-method-text"><button onclick="deleteMethodItem(this)">X</button></li>
                    </ol>
                </div>
                <button onclick="addMethodItem()">+</button>
            </div>
        </div>
        <div class="modal-actions">
            <button onclick="cocktailVariationEditHide()">Отмена</button>
            <button onclick="addCocktailVariation()">Добавить вариацию</button>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@floating-ui/core@1.7.3"></script>
<script src="https://cdn.jsdelivr.net/npm/@floating-ui/dom@1.7.4"></script>
<script src="https://cdn.jsdelivr.net/npm/admin-lte@3.2/dist/js/adminlte.min.js"></script>
<script src="https://cdn.datatables.net/2.3.6/js/dataTables.min.js"></script>

<script>
    var cocktailId = 0;
    var cocktailEditMode = false;
    let cocktailsTable = new DataTable('#cocktails-table');
    let ingredientsTable = new DataTable('#ingredients-table');

    function changePage(button, pageId) {
        $('.active').removeClass('active');
        button.classList.add('active');
        $('.content-wrapper:visible').hide();
        $(`#${pageId}`).show();
    }

    function deleteCocktail(entityId) {
        const data = {
            id: entityId
        }
        const httpApi = new XMLHttpRequest();
        httpApi.open('DELETE', 'http://localhost:8081/api/cocktail');
        httpApi.responseType = 'json';
        httpApi.send(JSON.stringify(data));
    }

    function addCocktail() {
        let name = $('.modal-cocktail-name').val();
        let description = $('.modal-cocktail-description').val();
        if (!name) {
            alert('Пожалуйста, введите название коктейля');
            return; // Прерываем выполнение функции
        }

        if (!description) {
            alert('Пожалуйста, добавьте описание');
            return;
        }
        const data = {
            name: name,
            description: description
        };
        const httpApi = new XMLHttpRequest();
        let method = 'POST';
        if (cocktailEditMode === true) {
            data.id = cocktailId;
            method = 'PATCH';
        }
        httpApi.open(method, 'http://localhost:8081/api/cocktail');
        httpApi.responseType = 'json';
        httpApi.send(JSON.stringify(data));
        httpApi.onload = function () {
            const response = httpApi.response;
        };
    }

    function addCocktailVariation() {
        let cocktailid = $('.variation-cocktail-item').attr('id');
        let cocktail = $('.variation-cocktail-item').val();
        let ingredients = [];
        let methods = [];
        $('.variation-ingredient').each(function () {
            ingredients.push({
                id: $('.variation-ingredient-item').attr('id'),
                name: $('.variation-ingredient-item').val(),
                amount: $('.variation-ingredient-amount').val(),
                measure: $('.variation-ingredient-measure').val()
            });
        })
        $('.variation-method-text').each(function (index) {
           methods.push({
              step: index + 1,
              method: $(this).val(),
           });
        });

        let variationData = {
            cocktailId: Number(cocktailid),
            cocktail : cocktail,
            ingredients: ingredients,
            methods: methods
        }
        const httpApi = new XMLHttpRequest();
        httpApi.open('POST', 'http://localhost:8081/admin/variation');
        httpApi.responseType = 'json';
        httpApi.send(JSON.stringify(variationData));
        httpApi.onload = function () {
            const response = httpApi.response;
            // console.log(response)
        };
    }

    function cocktailVariationEdit() {
        $('.cocktail-variation-edit').show();
    }

    function cocktailEditShow(entityId) {
        if (entityId !== 0) {
            cocktailEditMode = true
            cocktailId = entityId;
        } else {
            cocktailEditMode = false;
        }
        $('.cocktail-edit').show();

        if (cocktailEditMode === true) {
            const httpApi = new XMLHttpRequest();
            httpApi.open('GET', 'http://localhost:8081/api/cocktail/' + entityId);
            httpApi.responseType = 'json';
            httpApi.send();
            httpApi.onload = function () {
                const response = httpApi.response;
                $('.modal-cocktail-name').val(response.name);
                $('.modal-cocktail-description').val(response.description);
                $('.cocktail-edit').show();
            };
        }
    }

    function addIngredientField() {
        let variationField = $('.variation-ingredient').first().clone();
        $('.variation-ingredient-list').append(variationField);
    }

    function deleteMethodItem(btn) {
        $(btn).parent('.variation-method-item').detach();
    }

    function addMethodItem() {
        let methodItem = $('.variation-method-item').first().clone();
        $('.variation-method-list').append(methodItem);
    }

    function deleteIngredientField(btn) {
        $(btn).parent('.variation-ingredient').detach();
    }

    function cocktailVariationEditHide() {
        $('.cocktail-variation-edit').hide();
    }

    function cocktailEditHide() {
        $('.cocktail-edit').hide();
    }
</script>
</body>
</html>